    body {
        font-family: 'Roboto', sans-serif;
        background-color: #D8EAFF;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    label {
        font-weight: bold;
        color: black;
        display: block;
        margin-bottom: 5px;
        text-shadow: 7px 7px 4px rgba(0,0,0,0.1);
    }
    
    .login_input {
        width: 325px;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 5px;
        background: white;
        color: black;
        border: 2px solid #ccc;
        box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.1);
    }
    .login_input:focus {
        outline: none;
        border: 2px solid #FB3D0E; 
    }   

    
    .login_button { 
        background-color: #FC6039;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.5s ease;
        font-size: 16px;
        width: 100%;
        box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.1);
        margin-block: 13px;
    }
    
    button:hover {
        background-color: #FB3D0E;
        transform: scale(1.02); 
    }
       

    .register_left, .register_right{  
        display: flex;
        flex-direction: column; 
        padding: 0px 0px 0px 0px;
        border-radius: 5px;
        background-color: white;
    }

    .doctor-register-form{
        margin-top: 64px;
        margin-left: 40px;
    }

    .patient-register-form{
        margin-top: 64px;
        margin-left: 40px;
    }

    .register_form{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 20px 20px 0px 20px;
        border-radius: 5px;
        width:auto;
    }

    .forget_form{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 20px 20px 0px 20px;
        border-radius: 5px;
        width:auto;
        flex-direction: column;
    }

    .login_style{
        background-color: white;
        padding: 20px 20px 20px 20px;
        border-radius: 5px;
        box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.1);
        height:auto;
        margin-bottom: 30px;
    }

    .register_style{
        background-color: white;
        padding: 0px 20px 20px 20px;
        border-radius: 5px;
        box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.1);
        height:auto;
    }

    .centered-title {
        text-align: center;
        color: #FC6039;
        text-shadow: 7px 7px 4px rgba(0,0,0,0.1);
    }

    .bottom-right-text {
        position: fixed; 
        right: 10px; 
        bottom: 10px; 
        font-size: 15px;
    }
    
    @media (max-width: 600px) {
        form {
            width: 90%;
        }
    
        button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }