nav.navbar {
    background: #D8EBFE;
    color: #565FA4;
    font-family: "Montserrat"; 
    height: 100px;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.custom-icon {
    color: #565FA4;
}

.navbar-nav .btn {
    margin-right: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3); /* Toegevoegde schaduw */
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Dit zorgt ervoor dat het menu direct onder de knop verschijnt */
    left: 0; /* Dit zorgt ervoor dat het menu zich uitlijnt met de linkerkant van de knop */
    z-index: 1000; /* Zorg ervoor dat de dropdown boven andere elementen verschijnt */
}

.dropdown-menu.p-3 {
    min-width: 340px; /* Bepaalt de minimale breedte van de zoekdropdown */
}

.form-inline {
    width: 100%; /* Zorgt ervoor dat het formulier de volledige breedte van de dropdown inneemt */
    display: flex;
    align-items: center; /* Zorgt ervoor dat de items verticaal gecentreerd zijn */
}

.form-control {
    flex: 1; /* Zorgt ervoor dat het invoerveld de beschikbare ruimte inneemt */
    margin-right: 10px; /* Ruimte tussen het invoerveld en de knop */
}

.btn-outline-success {
    white-space: nowrap; /* Zorgt ervoor dat de knop niet afbreekt */
}
