nav.navbar {
    background: #D8EBFE;
    color: #565FA4;
    font-family: "montserrat"; 
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-collapse {

    color: #565FA4;

}