@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Uniformiteit CSS CHECK DE WIKI VOORDAT JE DINGEN AANPAST! *LINK WIKI* */

/* NORMAL / LIGHT MODE */
:root {
    --primary-color: #fc6039;
    --secondary-color: #000369;
    --tertiary-color: #1b21d4;
    --background-color: #d8eaff;
    --text-color: black;
    --hover-color: #fff;
}
  
/* body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
  
/* DARK MODE */
/* 
@media (prefers-color-scheme: dark) {
    :root {
      --primary-color: #fc6039;
      --secondary-color: #000369;
      --tertiary-color: #1b21d4;
      --background-color: black;
      --text-color: white;
    }
}
  
/* COLORBLINDNESS MODES */
/* Protanopia and Deuteranopia */
@media screen and (colorblindness-1: active) {
    :root {
      --primary-color: #b8b742;
      --secondary-color: #010150;
      --tertiary-color: #1d1da8;
      --background-color: #dfdff9;
      --text-color: black;
    }
}

/* Tritanopia */
@media screen and (colorblindness-2: active) {
    :root {
      --primary-color: #F4494B;
      --secondary-color: #003C38;
      --tertiary-color: #1b867e;
      --background-color: #d8f5f5;
      --text-color: black;
    }
}

/* Achromatopsia */
@media screen and (colorblindness-3: active) {
    :root {
      --primary-color: #8a8a8a;
      --secondary-color: #0d0d0d;
      --tertiary-color: #333333;
      --background-color: #e7e7e7;
      --text-color: black;
    }
}

/* Achromatomaly */
@media screen and (colorblindness-3: active) {
    :root {
      --primary-color: #bd7765;
      --secondary-color: #070837;
      --tertiary-color: #282b7c;
      --background-color: #282b7c;
      --text-color: black;
    }
}

/* HIGH CONTRAST MODE */
@media screen and (high-contrast: active) {
    :root {
      --primary-color: #ff0000;
      --secondary-color: #0000ff;
      --tertiary-color: #00ff00;
      --background-color: #ffffff;
      --text-color: #000000;
    }
}

/* HEADERS */
.centered_title {
    text-align: center;
    color: var(--primary-color);
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.1);
}
.form_label {
    color: var(--primary-color);
}

/* BUTTONS */
.button {
    background-color: var(--primary-color) !important;
    color: white;
    transition: background-color 0.5s ease;
    display: block;
    width: 100%;
}

.button:hover {
    background-color: #FB3D0E;
    transform: scale(1.02);
}

.form_style {
    background-color: white;
    border-radius: 5px;
    box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.bottom_right_text {
    position: fixed;
    color: black;
    right: 10px;
    bottom: 10px;
    font-size: 15px;
    white-space: pre-wrap;
}