/* ---------------------------- */
  /* Patientenoverzicht dashboard (new) */
  /* ---------------------------- */
/* img-fluid for responsive images */
.img-fluid {
    max-width: 150px;
    height: auto;
}

/* rounded for rounded images */
.rounded {
    border-radius: 0.25rem;
}

/* table-responsive for responsive tables */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* table-hover for hover effect on table rows */
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
    
}

/* thead-light for light-colored table header */
.thead-light th {
    background-color: lightgray;
    color: black;
    border-color: white;
}

/* container for fixed-width centered content */
.container {
    width: 70%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

/* mt-4 for top margin */
.mt-4 {
    margin-top: 1.5rem;
}

.text-left {
    text-align: left;
    font-size: 25px;
 }



/* ---------------------------- */
  /* Patientenoverzicht table css (old) */
  /* ---------------------------- */
  
  table,
  .table_2,
  .myometrietable {
      border-collapse: separate;
      border-spacing: 0 10px;
      font-family: Arial;
      /* Easily adjustable colors for the whole component, bg=background, th= tableheader, td= tabledata */
      --main-th-color: cornflowerblue;
      --main-td-color: lightsteelblue;
      --main-hover-color: powderblue;
      border-spacing: 0 2px;
      margin-top:0;
      color:white;
  }
  
  .table_2 {
      width: 400px;
  }
  
  .myometrietable td {
      font-size:18px;
      line-height:1;
      background-color: var(--main-td-color);
      padding: 5px;
  }
  
  .myometrietable th {
      padding: 5px;
  }
  
  .myometrie-textarea{
      width:100%;
  }
  
  .radiology-scrollable-table {
      overflow-y: auto;
      width: 100%;
      max-height: 650px;
      max-width: 610px;
      margin-bottom: 25px;
  }
  
  .radiology-datatable {
      width: 610px;
  }
  
  .patientoverview-datatable {
      width: 730px;
  }
  
  th, td {
      border: transparent;
      border-bottom: gray 1px solid;
  }
  
  th {
      cursor: default;
  }
  
  .image-cell {
      height: 125px;
      width: 125px;
      margin-top:10px;
      padding: 0;
      line-height: 0;
      background-color: var(--background-color);
  }
  
      .grid-image {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          margin-top: 10px;
      }
  
          .image-header {
              background-color: var(--background-color);
              border: none;
          }
  
          .spacer {
              width: 10px;
              background-color: var(--main-bg-color);
              border: none;
          }
  
  .text-cell {
      padding: 0;
      margin-top:100px ;
      background-color: var(--background-color);
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
  }
  
  .rounded-left,
  .middle-text-cell,
  .rounded-right {
      height: 125px;
      background: var(--background-color) ;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top:10px;
  }
  .rounded-left {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  
  .rounded-right {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  .empty-text-cell {
      padding: 0;
      background: var(--main-bg-color);
      width: 0px;
      margin: 0px;
  }
  
  .header-item,
  .header-rounded-left,
  .header-rounded-right {
      padding: 10px 0px 10px 0px;
      background: var(--main-th-color);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
  }
  
      .header-rounded-left {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
      }
  
      .header-rounded-right {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
      }
  
  .th-header-left,
  .th-header-middle,
  .th-header-right {
      background-color: var(--main-bg-color);
      padding: 0px;
      width: 200px;
  }
  
  tr:hover {
      cursor: pointer;
  }
  
      tr:hover .rounded-left,
      tr:hover .middle-text-cell,
      tr:hover .rounded-right {
          background-color: var(--main-hover-color);
      }
  
  
      /* ---------------------------- */
  
  .link {
      margin-right:20px;
      color: white;
      font-size:22px;
  }
  
  .header-empty-middle
  {
      width: 0px;
      background-color: var(--main-bg-color);
  }
  
  .th-header-middle-empty
  {
      width: 0px;
      background-color: var(--main-bg-color);
  }
  
  .PageTop {
      width:1500px    ;
      display:flex;
      justify-content: space-between;
      margin:0;
      background-color: white;
      padding: 10px;
  }
  
  .PageTop h1 {
      flex-grow: 1;
      text-align: left;
  }
  
  .PageTopResults {
      width: 1150px;
      display: flex;
      justify-content: flex-end; /* Align items to the right */
      align-items: center; /* Vertically align items */
  }
  
  .patient-image,
  .patient-image-results{
      height: 125px;
      width: 125px;
      padding: 0;
      line-height: 0;
      background-color: var(--background-color);
  }
  
  .patient-image-results {
      padding-left: 10px;
      background-color: var(--background-color);
  }
  
  .patient-results {
      color: black;
  }
  
  .PageBottom {
      display:flex;
      justify-content: space-between;
      background-color: var(--background-color);
      font-size:22px;
      margin-top:20px;
  }
  
  .Block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      border-width: 2px;
      color: black;
      margin-right: 10px;
      height: 600px;
      font-size: 26px;
      padding: 20px; /* Add padding to prevent the button from touching the border */
  }
  
  .Block button {
      width: 90%;
      margin: 20px;
      color: white;
      background-color: cornflowerblue;
  }
  
  .DataBlockData{
      flex-grow:1;
  }
  
  .textual-data-row {
      display: flex;
  }
  
  .textual-data-row p {
      margin: 0;
      padding: 0;
      margin-right: 5px;
  }
  
  .textual-data-row:hover {
      background-color: lightgray;
      cursor: pointer;
  }
  
  
  
  .DataBlockData div p,
  .DataBlock div p {
      margin: 0;
      align-items: start;
  }
  
  .DataBlock div{
      margin-left:10px;
      text-align: start;
  }
  
  /* Carousel css */
  /* for the radiology page. */
  
  .carousel {
      position: relative;
      max-width: 300px;
      overflow: hidden;
  }
  
  .carousel__btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 1.5rem;
      border: none;
      padding: 1rem;
      cursor: pointer;
      z-index: 1;
      transition: background-color 0.3s;
  }
  
      .carousel__btn:hover {
          background-color: rgba(0, 0, 0, 0.8);
      }
  
  .carousel__btn--prev {
      left: 0;
  }
  
  .carousel__btn--next {
      right: 0;
  }
  
  .carousel__img {
      width: 300px;
      height: 300px;
      object-fit: fill;
      display: block;
      transition: transform 0.3s ease-in-out;
  }
  
      .carousel__img:hover {
          transform: scale(1.05);
      }
  
      /* ---------------------------- */
  
  .bottom-page{
      margin-top:0;
      display : flex;
      justify-content: space-between;
      font-size:22px;
  }
  
  .bottom-page textarea {
      flex-grow:1;
      margin-left:20px;
      height: auto;
      font-size: 22px;
  }
  
  .top-page {
      width: 1250px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color);
  }
  
  .back-button {
      margin-right:20px;
      width:15%;
  }
  
  .top-page h1 {
      text-align: left;
      flex-grow:1;
      margin:0;
      padding:0;
      background-color: var(--background-color);
  }
  
  .top-page-nav-info {
      display: flex;
      flex-direction: column; /* Stack the children vertically */
      justify-content: center; /* Center the children vertically */
      align-items: flex-start; /* Center the children horizontally */
      gap: 15px; /* Adjust as needed to control the space between the children */
      width: 100%;
      height:125px;
  }
  
  .patient-data-block {
      display: flex;
      justify-content: space-between;
  }
  
  
  
  .card {
      border-radius: 10px; /* Rounded corners */
      padding: 20px; /* Space inside the card */
      margin: 20px 0; /* Space outside the card */
      margin-bottom:0;
      width: 80%; /* Adjust as needed */
      max-width: 600px; /* Adjust as needed */
      margin-left: auto; /* Center the card */
      margin-right: auto; /* Center the card */
      background-color: var(--background-color);
      box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.1);
  }

  .card-header {
      background-color: #fff;
  }
  
  .placeholder-card {
      font-size: 150px;
      display: flex;
      justify-content: center; /* Centers content horizontally */
      align-items: center;
      padding:0;
  }
  
  .placeholder-card:hover {
      background-color: #e0e0e0;
  }
  
  .placeholder-card i {
      height: 200px;
      display: flex;
      justify-content: center; /* Centers content horizontally */
      align-items: center;
  }
  
  .Block:not(:last-child) {
      margin-right: 20px; /* Adjust as needed */
  }
  
  .patient-card {
      margin-right: 20px;
  }
  
  .patient-data-row {
      display: flex; /* Align items in a row */
      justify-content: space-between; /* Space items evenly */
      margin-bottom: 10px; /* Space between rows */
  }
  
  .patient-information {
      width:100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  
  .card-buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom:10px;
  }
  
  .card-buttons button {
      margin-left: 10px;
  }
  
  button:hover {
      background-color: #e0e0e0; /* Darker gray */
  }
  
  .medication-cards-container {
      width:100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  
  .medication-card {
      height:230px;
      flex: 0 0 calc(33.33% - 15px); /* 33.33% for 3 items per row, 10px for margin */
      margin: 10px; /* Adjust as needed */
      box-sizing: border-box; /* Include padding and border in the width */
  }
  
  /*The pattern can be defined using the formula an + b, where a and b are constants, and n is a counter starting from 0.
  In the case of :nth-child(3n+1), it selects every third element starting from the first one. Here's how it works:
  � For n=0, it selects the 1st element (because 3*0+1 = 1).
  � For n=1, it selects the 4th element (because 3*1+1 = 4).
  � For n=2, it selects the 7th element (because 3*2+1 = 7).
  � And so on...
  Similarly, :nth-child(3n) selects every third element starting from the third one:
  � For n=0, it doesn't select any element (because 3*0 = 0).
  � For n=1, it selects the 3rd element (because 3*1 = 3).
  � For n=2, it selects the 6th element (because 3*2 = 6).
  � And so on...*/
  
  /* This math makes it so it doesnt matter how many medication cards you add they keep getting formatted without margin
      on the left and right side of the row 
  */
  /* Remove left margin from the first card in each row */
  .medication-card.medication:nth-of-type(3n+1) {
      margin-left: 0;
  }
  
  .medication-card.medication:nth-of-type(3n) {
      margin-right: 0;
  }
  
  .patient-card .patient-data-row p,
  .contactperson-card .patient-data-row p,
  .medication-card p {
      line-height: 0.3; /* Adjust as needed */
  }


